<%= div_for post, class: 'panel panel-primary' do %>
  <div class = "panel-heading clearfix"><%= post.nickname %>
   </div>
  <div class = "panel-body">
    <%= post.body %>
   <% upvotes,downvotes = post.upvotes, post.downvotes %>
   <div class="btn-group pull-right">
      <%= form_for [post, post.votes.new], html: { class: 'form-inline' } do  |f| %>
        <%= f.hidden_field :helpful, value: "1" %>
        <%= f.submit "&uarr;#{upvotes}".html_safe, class: 'btn btn-default btn-sm' %>
      <% end %>
      <%= form_for [post, post.votes.new], html: { class: 'form-inline' } do  |f| %>
        <%= f.hidden_field :helpful, value: "0" %>
        <%= f.submit "&darr;#{downvotes}".html_safe, class: 'btn btn-default btn-sm' %>
      <% end %>
    </div>
  </div>
  <div class = "panel-footer">
    Category: <%= post.category.name %><%= ", " + post.sub_category.name if post.sub_category %>
  </div>
<% end %>
