<p id="notice"><%= notice %></p>

<h1>
  <%= @sub_category.name %>
</h1>

<h2>
  Subcategory of <strong><%= @sub_category.category.name %></strong>
</h2>

<% @sub_category.posts.each do |post| %>
  <%= render 'home/post', post: post %>
<% end %>

<%# link_to 'Edit', edit_category_sub_category_path(@category, @sub_category) %>
<%= link_to 'Done', category_sub_categories_path, class: 'btn btn-success' %>
