<p id="notice"><%= notice %></p>

<h1>
  <%= @category.name %>
</h1>
<h2>
  <%= @category.description %>
</h2>
<table class = "table table-striped">
<thead>
<th>Subcategory</th>
</thead>
  <tbody id="sub_categories">
<%= render @category.sub_categories %>
</tbody>
</table>

<% @category.posts.each do |post| %>
  <%= render 'home/post', post: post %>
<% end %>

  <div class = "row">
<div class = "col-xs-4">
<%= bootstrap_form_for [@category,SubCategory.new], remote: true do |f| %>
    <%= f.text_field :name %>
    <%= f.primary %>
<% end %>
  </div>
</div>
<br>
<div class = "row">
  <div class = "col-xs-4">
    <%= link_to 'Done', categories_path, class: 'btn btn-success' %>
  </div>
</div>
