<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @vote.post %>
</p>

<p>
  <strong>User:</strong>
  <%= @vote.user %>
</p>

<p>
  <strong>Helpful:</strong>
  <%= @vote.helpful %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
